<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tester</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
  </head>
  <body>
    <h1>Looks Good</h1>
    <p>
      Offline here we come
    </p>
  </body>

  <script src="pouchdb.min.js"></script>
  <script src="pouchdbConfig.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js')
      .then(function(reg) {
        console.log('Registration succeeded');

        // Local database
        var local = new PouchDB('todos');

        console.log(2222);

        // Remote database
        var remote = new PouchDB('199.253.246.2',  {
          auth: authValue
        });


        var report = {
          _id: 'report1',
          title: "Test",
          gender: "Male",
          age: 17
        }

        local.put(report);

        console.log(333);

        local.get('report1').then((data)=>{
          console.log(data);
        })
        .catch((error)=>{
          console.log('error retrieving report1');
        });

        local.sync(remote, {
          live: true,
          retry: true
        });
      })
      .catch(function(error) {
        console.log('Registration failed with ' + error);
      });
    }

  </script>
</html>
