<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tester</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
  </head>
  <body>
    <h1>Looks Good</h1>
    <p>
      Offline here we come
    </p>
  </body>

  <script src="pouchdb.min.js"></script>
  <script src="pouchdbConfig.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js')
      .then(function(reg) {
        console.log('Registration succeeded');

        // Local database
        var local = new PouchDB('reports');

        // Remote database
        var remote = new PouchDB('https://anirudh.cloudant.com/reports',  {
          auth: authValue
        });


        // var report = {
        //   _id: 'report3',
        //   title: "Test",
        //   gender: "Male",
        //   age: 17
        // }
        //
        // local.put(report)

        // syncing to remote
        local.sync(remote)
        .on('complete', function () {
          console.log("synced");
        })
        .on('error', function (err) {
          console.log("Error syncing: " + err);
        });

        remote.allDocs({'include_docs': true}).then((result)=>{
          console.log(result);
          result.rows.forEach((item)=>{
            console.log(item);
          })
        })
      })
      .catch(function(error) {
        console.log('Registration failed with ' + error);
      });
    }

  </script>
</html>
